# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/default.*
*/*xcodeproj/*.xcworkspace/
*/*.xcodeproj/xcshareddata/
*/*.xcodeproj/xcuserdata/

#VC
*/obj/*
*.exp
*.ilk
*.pdb
*.sdf
*.suo
*.opensdf
